# Web
NEXT_PUBLIC_POSTHOG_KEY=phc_fg3D6jOSQxCrYRLoxoZx2X11FwgKoL5b0RSnJfdEnnV
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
# Worker / server (если нужен иной хост — используем тот же)
POSTHOG_PROJECT_API_KEY=phc_fg3D6jOSQxCrYRLoxoZx2X11FwgKoL5b0RSnJfdEnnV
POSTHOG_HOST=https://eu.i.posthog.com
FF_DECIDE_TTL_MS=60000
